<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  
  <body>
    
    <header class="container">
      <h1>API Project: Timestamp Microservice</h1>
    </header>
    
    <main class="container">
      
      <h2>User Stories:</h2>
      <ol class="user-stories">
        <li>The API endpoint is <strong>GET</strong> <code>/api/timestamp/:date_string</code></li>
        <li>A date string is valid if it can be successfully parsed by <code>new Date(date_string)</code>.<br>
        Note that the unix timestamp needs to be an <code>integer</code> (not a string) specifying <code>milliseconds</code>.<br> 
          In our test we will use date strings compliant with ISO-8601 (e.g. <code>"2016-11-20"</code>) because this will ensure an <code>UTC</code> timestamp.</li>
        <li>If the date string is <code>empty</code> it should be equivalent to trigger <code>new Date()</code>, i.e. the service uses the current timestamp.</li>
        <li>If the date string is valid the API returns a JSON having the structure<br><code>{"unix": &lt;date.getTime()&gt;, "utc" : &lt;date.toUTCString()&gt;}</code><br>
          e.g. <code>{"unix": 1479663089000 ,"utc": "Sun, 20 Nov 2016 17:31:29 GMT"}</code></li>
        <li>If the date string is <code>invalid</code> the api returns a JSON having the structure <br>
            <code>{"unix": null, "utc" : "Invalid Date"}</code>. It is what you get from the date manipulation functions used above.
        </li>
      </ol>
      
      <h3>Example Usage:</h3>
      <code>GET /api/timestamp/2015-12-25</code><br>
      <code>GET /api/timestamp/1450137600</code>
      
      <h3>Example Output:</h3>
      <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      
      <hr>
      
      <h2>API:</h2>
      <a href="/api/timestamp">Current UTC Time</a>
      <form method="get" action="/api/timestamp/">
        <input type="text" id="timeField" name="time" placeholder="2015-12-25">
        <input type="submit">
      </form>
      
    </main>
    
    <footer class="container">
      <hr>
      <p>
        by <a href="https://github.com/Myrmidonut/fcc_api_timestamp" title="GitHub Repository" target="_blank">Frederik</a> | <a href="https://learn.freecodecamp.org/" title="Learn to code at freeCodeCamp" target="_blank">freeCodeCamp</a>
      </p>
    </footer>
    
  </body>
</html>